
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, sans-serif;
}

body {
    background-color: #f1f1ff;

}

.c-o {
    color: orange;
}

header {
    background-color: #0e3a67;
    color: white;
    padding: 1rem 5% .2rem;
    box-shadow: 0px 0px 4px gray, 0px 0px 8px gray;
    position: relative;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

.form-control {
    height: 45px;
    background-color: white;
    /* padding: .5rem 0; */
    width: 30%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-input {
    width: 80%;
    height: 100%;
    padding: 10px;
    outline: none;
    border: none;
}

.search-btn {
    height: 100%;
    width: 10%;
    border: none;
    outline: none;
    color: #0e3a67;
    cursor: pointer;
}

.top-features i {
    margin-left: 1rem;
    cursor: pointer;
    display: inline-block;
    padding: .5rem;
    border-radius: 50%;
    transition: all .5s ease;
}

.top-features i:hover {
    background-color: #f1f1ff;
    color: #0e3a67;
}

/* -------------------------------------------------- */
.bottom-nav {
    position: absolute;
    width: 350px;
    border: 1px solid #ddd;
    right: 20px;
    top: 90px;
    background-color: white;
    z-index: 99;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gray;
    padding: .5rem;
    /* transition: all .5s ease; */
    display: none;
}

.active-nav {
    display: block;
}

.bottom-nav li {
    cursor: pointer;
    color: gray;
    list-style: none;
    width: 100%;
    padding: .5rem;
    background-color: #f1f1f1;
}

.bottom-nav li:hover {
    background-color: #ddd;
}

/* --------------------------------------  */
.container {
    padding: 1rem 5%;
}

.content {
    width: 100%;
    height: 54.5vh;
    box-shadow: 0px 0px 5px #80808048, 0px 0px 10px #8080803e;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    position: relative;
}

.poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 5px #80808048, 0px 0px 10px #8080803e;

}

.head-lines {
    position: absolute;
    color: white;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.head-lines h2 {
    font-size: 2rem;
    margin: .5rem 0;
}

.head-lines button {
    padding: 1rem 3rem;
    border-radius: 5px;
    background-color: orangered;
    outline: none;
    border: none;
    color: white;
    margin: 1rem 0;
    cursor: pointer;
    transition: all .5s ease;
}

.head-lines button:hover {
    background-color: orange;
}

/* -------------------------------------- */
.bg-light {
    background-color: white;
}

.main {
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}

.deal {

    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddd;
}

.deal h2 {
    color: #0e3a67;
}

.deal span {
    display: inline-block;
    background-color: orange;
    color: white;
    padding: .5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s ease;
}

.deal span:hover {
    background-color: orangered;
}

.products {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: .5rem 1rem;
}

.product {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 5px #80808048, 0px 0px 10px #8080803e;
    padding: .5rem;
}

.product-img-box {
    width: 100%;
    min-height: 183.5px;
    margin: auto;
    padding: .5rem;
    border-bottom: 2px solid #ddd;
    text-align: center;
}

.product-img {
    width: 60%;

}

.product-details {
    padding: .5rem;
}

.product-details h3 {
    color: #616161;
    margin-bottom: .5rem;
}

.product-details p {
    color: #aaa;
    font-size: 14px;
}

.rating {
    color: orange;
    margin: .3rem 0;
}

.price-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
    color: #616161;
    font-size: 14px;
    border-radius: 5px;
}

/* -------------------------------------------  */

footer {
    background-color: #0e3a67;
    color: white;
    padding: 1rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-content-box {
    width: 300px;
}

.footer-content-box .logo {
    font-weight: 900;
    margin-bottom: 1rem;
}

.footer-content-box .about-company {
    font-size: 14px;
    margin: .5rem 0;
    text-align: justify;
}

.footer-content-box .social-media i {
    margin-right: 1rem;
    margin-top: 1rem;
    font-size: 18px;
}

.footer-content-box li {
    list-style: none;
    font-size: 14px;
    margin: .5rem 0;
}

.footer-content-box .payment-method img {
    width: 180px;
    background-color: white;
    border-radius: 5px;
    padding: .5rem;
}

footer hr {
    margin: 1rem 0;
}

.footer-copyright {
    text-align: center;
}

.logo span {
    color: orange;
}